
hr 
{
    width: 75%;

}


#containerHome {

	padding-left:75px; 
	padding-right:75px; 
	padding-top:75px; 
	padding-bottom:5px; 
	border:1px solid lightgray;
	border-radius: 25px;





	text-align: justify;
	

hh, hh2, hh4 {
	font-variant: small-caps;
	text-align: center;
}

#button-try { float:left; padding-left: 350px; }
#info-more { float: right; text-align: right; }
