
hr 
{
    width: 75%;

}

#containerHome {

	border: 1px solid black;
    padding: 10%;
   
    width:100%;   
	padding-top:50px; 
	padding-bottom:50px; 
	border:1px solid black;
	border-radius: 5px;
	text-align: justify;

}

div {
	text-align: justify;
	font-family: "Times New Roman", Georgia, Serif;
}


/*h4 { text-align: right; } */


h4 { text-align: right; }

#button-try { float:left; padding-left: 350px; }

#info-more { float: right; text-align: right; }
