
hr 
{
    width: 75%;

}


#containerHome {

	padding-left:75px; 
	padding-right:75px; 
	padding-top:75px; 
	padding-bottom:75px; 
	border:1px solid lightgray;
	border-radius: 25px;
	text-align: justify;
	height:100%;
	overflow:auto;
	
}

#button-try { float:left; padding-left: 25%; }
#info-more { float: right; text-align: right; }
